<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end shadow fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
        {% load static %}
        MHCfovea
        <!-- <img src="{% static 'images/dockcov2_logo.png' %}" class="nav-title-logo"/> -->
    </a>

    <span class="ml-auto mr-2">
        <!-- <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
            <div class="form-group nav-search-bar">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" name="term" class="form-control ui-widget term" placeholder="Allele">
            </div>
        </form> -->
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item {{ home }}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {{ contact }}">
                <a class="nav-link" href="mailto:kohan.lee@ailabs.tw">Contact</a>
            </li>
            <li class="nav-item {{ contact }}">
                <a class="nav-link" href="https://github.com/kohanlee1995/MHCfovea" target='_blank' rel="external nofollow noopener noreferrer"><i class="fab fa-github"></i></a>
            </li>
        </ul>
    </div>
</nav>